# Ignore everything

.gitignore

input_files/
bin/
build/
*.mrc
measure*log
*log
*out
error*

BenchmarkFirstCrowding*
ArchiveExperiments*
ArchiveFirstBenchmark*

GNUParallel.sh
extra_run_tests.sh
extra_run_tests.sh.save
options_short.ini
run_density.sh
run_tests.sh
*.sh

options_*ini
run*sh
*pdb
*.tar.gz

all_info/
*.csv
.csv
options_dir/
input*
*mrc
*pdb
core*
error*out
nmpi*out
